@import 'theme/index.scss';

.iconList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.item {
  flex: 1 1 auto;
}

.itemHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  object-position: center;
}

.title {
  @include typo-h4;

  font-weight: $fontBold;
}

.description {
  @include typo-default;

  margin-top: 12px;
}
